.Login {
    main {
        min-height: 100vh;
    }
    main,
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container {
        h2 {
            margin-bottom: 20px;
        }

        form {
            min-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .input-container {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                background-color: $grey;
                padding: 10px;
                border-radius: 5px;

                .icon {
                    color: $grey-placeholder;
                    font-size: 1.1rem;
                }

                input {
                    width: 100%;
                    border-left: 1px solid $grey-placeholder;
                    margin-left: 10px;
                    border-radius: 0px;
                    padding: 0 10px;
                    font-size: 1rem;
                }
            }

            p {
                margin-top: 20px;
                span {
                    a {
                        font-weight: bold;
                    }
                }
            }

            .login {
                margin-top: 20px;
                text-align: center;
                padding: 10px;
                width: 150px;
                background-color: $blue-btn;
                border-radius: 10px;
            }

            .login:hover {
                background-color: $dark-blue-btn;
                width: 200px;
                transition: 0.3s;
            }
        }
    }

    .gradient {
        width: 400px;
        height: 400px; /* Make it a square */
        position: fixed;
        top: -350px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%) rotate(45deg); /* Center and rotate */
    }
    
    @media (max-width: 480px) { // Mobile screens
        .form-container {
            form {
                min-width: 100%;
                margin-right: 10% !important;
                margin-left: 10% !important;
                .input-container {
                    width: 80%;
                    .icon {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
