.Signup {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 20px;

        form {
            padding-left: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                margin-bottom: 10px;
            }
            .radio-container {
                margin: 5px 0;
                display: flex;
                justify-content: center;

                .radio,
                label {
                    cursor: pointer;
                }

                .radio {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    input {
                        margin-right: 2px;
                    }
                }
            }
            .InputContainer {
                width: 70%;
                margin: 0px;
                margin-bottom: 10px;
            }
            button {
                width: 150px;
                margin: 10px 0;
                border-radius: 5px;
                padding: 10px;

                &:hover {
                    width: 175px;
                    transition: 0.3s;
                }
            }
        }

        .img-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: -50px;

            a {
                font-weight: bold;
            }
        }
    }
}
