@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}
