.Header {
    padding: 20px 100px;
    border-bottom: 1px solid white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;

    .gradient {
        margin-left: 200px;
        margin-top: -200px;
    }

    .logo-container {
        display: flex;
        align-items: center;

        img {
            height: 50px;
        }
    }

    .user-container {
        display: flex;
        align-items: center;

        .user {
            margin-right: 10px;
        }
        .user-icon {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
            margin-left: 10px;
            font-weight: 500;
        }
    }
}
