@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

// dimensions
$header-height: 90px;

// collor palette
$blue-btn: #5680e9;
$dark-blue-btn: #446fda;
$grey: #3f4045;
$grey-placeholder: #e1e1e1;

.App {
    // background: url('../../assets/main-bg1.png') no-repeat center center;
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

.Main {
    min-width: 100vw;
    min-height: 100vh;
}

.gradient {
    position: fixed;
    height: 150px;
    width: 200px;
    background-image: linear-gradient(to right, #392e4d, #b8ffff, #5a5c87);
    filter: blur(50px);
}

ul {
    li {
        list-style-type: none;
    }
}

main,
header {
    padding: 0px 200px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $blue-btn;
    color: white;
}

input {
    outline: none;
    border: none;
    background-color: $grey;
    padding: 10px;
    border-radius: 5px;
    caret-color: $grey-placeholder;
    color: white;
}

input::placeholder {
    color: $grey-placeholder;
    opacity: 1;
}

@import './Student/Student.scss';
@import './Dashboard/Dashboard.scss';
@import './Teacher/Teacher.scss';

// common
@import './common/Common.scss';

// auth styles
@import './Auth/Login.scss';
@import './Auth/Signup.scss';

@import './NotFound.scss';
@import './UserProfile/UserProfile.scss';

//modal
@import './Modal/ConfirmationModal.scss';
