.AddQuiz {
    main {
        display: flex;
        justify-content: center;

        .content {
            margin-top: 70px;
            width: 50%;
        }
    }
    form {
        display: flex;
        flex-direction: column;

        .input-container {
            display: flex;
            flex-direction: column;
            position: relative;

            .input-icon {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: white;
              }

            .full-width-input {
                width: 100%; 
                padding: 10px 10px 10px 40px;
                border-radius: 5px;
                background-color: $grey; 
                color: white; 
                
            }
        }
    }

    .file-input-container {
        display: flex;
        flex-direction: column;
        background-color: $grey;

        padding: 10px;
        label {
            font-size: 0.9rem;
            margin-bottom: 5px;
            color: $grey-placeholder;
            padding-left: 10px;
        }
    }
}
