.AddStudent {
    display: flex;
    align-items: center;
    justify-content: center;
    .back-btn{
        margin-top: -40.5%;
    }
    main {
        margin-top: -100px;
        display: flex;
        justify-content: center;
        .content {
            width: 500px;
        }
    }
}
