.Class {
    button {
        padding: 10px 30px;
    }
    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .class-code {
            margin-top: 20px; 
          }

        div {
            button:first-child {
                border-radius: 5px 0 0 5px;
            }
            button:last-child {
                border-radius: 0 5px 5px 0;
            }
        }

        .inactive {
            background-color: $grey !important;
        }

        .add-btn {
            border-radius: 5px;
            font-weight: bold;

            &:hover {
                padding-right: 35px;
                padding-left: 35px;
                transition: 0.3s;
            }
        }
    }
}
