.Quiz {
    .table {
        max-height: 500px;
        overflow-y: hidden;
        border-radius: 10px;

        .tbody {
            background-color: rgb(42, 42, 42);
            border-radius: 0 0 10px 10px;
            height: 500px;
            max-height: 500px;
            overflow-y: auto;

            .loader-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
        .th {
            background-color: #416edf;
            border-radius: 10px 10px 0 0;
        }

        .th {
            color: white;
            font-weight: bold;
        }

        .tr {
            background-color: #383838;
            border-bottom: 1px solid #cdcdcd;
            cursor: pointer;
            &:hover {
                div {
                    display: flex;
                }
            }

            div {
                display: flex;

                button {
                    padding: 7px 20px;
                    border-radius: 10px;
                    margin-left: 10px;
                }

                .view {
                    &:hover {
                        background-color: #416edf;
                    }
                }

                .edit {
                    background-color: white;
                    border: 1px solid #416edf;
                    color: #416edf;

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }

        .tr:last-child {
            border-bottom: none;
        }

        .th,
        .tr {
            display: grid;
            grid-template-columns: 3fr 3fr 1fr;
            justify-content: center;
            align-items: center;
        }

        .td {
            padding: 15px;
        }
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        button {
            padding: 10px 20px;
        }

        div {
            button:last-child {
                background-color: #d4d4d4;
                color: black;
            }
        }

        .upload-download {
            display: flex;
            gap: 10px;

            button {
                background-color: #416edf;
                color: white;
                border-radius: 5px;
            }
            
        }
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000; 
    }

    .modal-content {
        background: #868686;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        text-align: center;
        width: 400px; 
    }

    .modal-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        button {
            border-radius: 10px; 
            padding: 10px 15px; 
        }
    }

    .loader {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
    }
}
