.QuizResults {
    .student-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-results {
        display: grid;
        grid-template-columns: 270px 1fr;
        gap: 20px;
        margin-top: 20px;

        img {
            width: 250px;
        }

        .table {
            .th,
            .tr {
                display: grid;
                grid-template-columns: 1fr 1fr 3fr 3fr 1fr;
                text-align: left;
            }

            .thead {
                background-color: $blue-btn;
                border-radius: 5px 5px 0 0;
                padding: 5px;
            }

            .tbody {
                background-color: rgb(53, 53, 53);
                height: 350px;
                max-height: 350px;
                overflow-y: auto;
            }

            .td {
                padding: 7px 0;
            }
        }
    }
    .center-button {
        display: flex;
        margin-left: 660px;
        margin-top: 20px;

        button {
            width: 125px;
            padding: 7px 10px;
            border-radius: 5px;
            font-size: 15px;
        }
    }
}
